
<link rel="stylesheet" type="text/css" href="/css/category-page.css">

<div class="row categories">
	<a href="/category/goods_buy"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon1.png">
		<h3>Kupujem proizvode</h3>
	</div></a>
	<a href="/category/goods_sell"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon2.png">
		<h3>Prodajem proizvode</h3>
	</div></a>
	<a href="/category/transport"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon.png">
		<h3>Transport</h3>
	</div></a>
	<a href="/category/gear_buy"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon5.png">
		<h3>Kupujem opremu</h3>
	</div></a>
	<a href="/category/gear_sell"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon5.png">
		<h3>Prodajem opremu</h3>
	</div></a>
	<a href="/category/animal_sell"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon7.png">
		<h3>Prodajem stoku</h3>
	</div></a>
	<a href="/category/supl_sell"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon4.png">
		<h3>Prodajem hemijska sredstva i koncentrat</h3>
	</div></a>
	<a href="/category/insurance"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon6.png">
		<h3>Osiguranje</h3>
	</div></a>
	
	
</div>
<div class="row categories">
	<a href="/category/animal_buy"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon7.png">
		<h3>Kupujem stoku</h3>
	</div></a>
	<a href="/category/supl_buy"><div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
		<img src="/img/categories/icon4.png">
		<h3>Kupujem hemijska sredstva i koncentrat</h3>
	</div></a>
</div>