#page-title {
  font-weight: bold;
  margin: 10px 0px; }

.ads {
  background: #FFF;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #AAA;
  padding: 10px; }
  .ads h1, .ads h2, .ads h3, .ads h4, .ads h5, .ads h6, .ads p {
    margin: 0; }
  .ads img {
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 10px; }
  .ads img:last-child {
    margin-bottom: 0; }

.newPostWindow {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #4AA02C;
  padding: 35px; }
  .newPostWindow input, .newPostWindow textarea {
    width: 100%; }
  .newPostWindow textarea {
    resize: none; }
  .newPostWindow input {
    margin-bottom: 6px; }
  .newPostWindow button {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.35); }

.newPost {
  cursor: pointer;
  background: #FFF;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #222;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #AAA; }

.post-info-item {
  font-weight: bold;
  color: #000; }

.return-back {
  background: #4AA02C;
  padding: 10px;
  float: left;
  display: block;
  color: #FFF;
  margin: 0 0 10px 15px;
  font-weight: bold;
  cursor: pointer; }
  .return-back span {
    padding: 0 5px; }

.remove-post-btn {
  padding: 10px;
  background: #4AA02C;
  color: #FFF;
  visibility: hidden;
  border: 1px solid #4AA02C;
  font-weight: bold;
  margin: 8px 5px;
  cursor: pointer; }

.post {
  background: #FFF;
  cursor: pointer;
  margin-bottom: 10px !important;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #AAA; }
  .post div {
    padding: 0px 18px 0 11px; }
    .post div .post-info-left {
      float: left; }
      .post div .post-info-left h3 {
        font-weight: bold;
        margin-bottom: 5px; }
      .post div .post-info-left * {
        margin: 0; }
    .post div .post-info-right {
      float: right;
      margin: 0;
      padding: 0; }
      .post div .post-info-right .post-info-price {
        background: #4AA02C;
        text-shadow: 0px 0px 4px #000;
        padding: 5px;
        border-radius: 5px;
        color: #FFF;
        margin: 0;
        font-weight: bold; }
    .post div .post-img {
      float: left;
      max-height: 150px;
      max-width: 150px; }
  .post .post-header {
    margin: 0;
    padding: 5px;
    background: #F70D1A;
    text-shadow: 0px 0px 2px #000; }
    .post .post-header .post-header-img {
      box-shadow: 0px 0px 1px 1px #000;
      float: left;
      height: 50px;
      width: 50px; }
    .post .post-header .post-header-title {
      float: left;
      padding: 5px 10px;
      color: #FFF; }
      .post .post-header .post-header-title h4 {
        margin: 0;
        padding: 0;
        font-weight: bold; }
      .post .post-header .post-header-title p {
        padding: 0;
        text-shadow: none;
        margin: 0;
        font-weight: bold;
        color: #222; }
  .post .post-body {
    margin: 0;
    padding: 10px; }
  .post .post-footer {
    margin: 0;
    padding: 5px; }
    .post .post-footer .post-footer-item * {
      float: left; }
    .post .post-footer .post-footer-item p {
      margin: 0px;
      color: #CCC;
      padding: 3px 6px;
      font-weight: bold; }
    .post .post-footer .post-footer-item span {
      margin: 0;
      color: #555;
      text-shadow: 0px 0px 1px #000;
      font-size: 20px;
      padding: 3px; }
  .post .post-comment {
    padding: 10px 24px; }
    .post .post-comment .post-comment-input {
      overflow: hidden;
      resize: none;
      width: 100%; }

.post:last-child {
  margin-bottom: 0px; }

.ad {
  background: #FFF;
  border: 1px solid #AAA; }
  .ad img:last-child {
    padding-bottom: 5px; }
  .ad img {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-bottom: 0; }

.root .col-md-8, .root .col-md-4 {
  margin: 0;
  padding: 5px; }

option {
  color: #000 !important; }

.company-name {
  color: green !important;
  text-decoration: none; }
  .company-name:hover, .company-name:visited, .company-name:active {
    color: green;
    text-decoration: none; }

/*# sourceMappingURL=home-page.css.map */
